# Build directory
build/

# Logs
streamer_debug.log

# Torrent metadata and cache
*.torrent
*.fastresume
*.parts

# Media extensions (Just in case you drop a file here to test)
*.mp4
*.mkv
*.avi
*.m2ts
*.clpi
*.bdmv
*.mpls
*.m3u8
*.jpg
.aider*
opencode.json
.vscode/
compile_commands.json
